<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dean Chiu - Projects</title>
    <base href="/">
    <link id="page_style_share" href="css/regular/styles.css" type="text/css" rel="stylesheet">
    <link id="page_style" rel="stylesheet" type="text/css" href="css/regular/projects_style.css">
    <script type="text/javascript">
        function layoutHandler() {
            var style_link_share = document.getElementById("page_style_share");
            var style_link = document.getElementById("page_style");

            if (window.innerWidth < 1450) {
                style_link_share.setAttribute("href", "css/mobile/styles_mobile.css");
                style_link.setAttribute("href", "css/mobile/projects_style_mobile.css");
            }
            else if (window.innerWidth < 1600) {
                style_link_share.setAttribute("href", "css/regular/styles.css");
                style_link.setAttribute("href", "css/regular/projects_style_medium.css");
            }
            else {
                style_link_share.setAttribute("href", "css/regular/styles.css");
                style_link.setAttribute("href", "css/regular/projects_style.css");
            }
        }

        window.onresize = layoutHandler;
        layoutHandler();
    </script>
    <script type="text/javascript" src="../js/slideshow.js" defer></script>
    <link href='https://fonts.googleapis.com/css?family=Cabin|Work+Sans:350' rel='stylesheet' type='text/css'>
</head>

<body class="container">
    <header>
        <div class='container'>
            <div class="name_holder">
                <a href="/index">Dean Chiu</a>
            </div>
        </div>
        <div>
            <nav>
                <li class="Home"><a href="/index">Home</a></li>
                <li class="Projects"><a href="/projects" style="color: orangered; opacity: 0.8;">Projects</a></li>
                <li class="Resume"><a
                        href="https://drive.google.com/file/d/1JduRECdY_RbQOUPJM_dI4q9OTiJvlFGr/view?usp=sharing">Resume</a>
                </li>
                <li class="Contact"><a href="/contact">Contact</a></li>
            </nav>
        </div>
    </header>
    <div class='slideshow-container'>
        <div class="mySlides fade">
            <div class="image-container1">
                <img class="image" src="assets/officelens.png">
            </div>
            <div class="table1">
                <div class="text table-cell1">
                    <b>Office Lens integration in Windows 10 Photos App <br /></b>
                    <br />
                    <br />
                    <b>Office Lens</b> is an intelligent document scanner that utilizes machine learning API to
                    precisely find
                    and crop documents from photos. During my Spring 2019
                    internship in Microsoft, I worked closely with designers and developers and integrated the Office
                    Lens feature into the <b>Windows 10 Photos App</b>. As a highly requested
                    feature from the Photos App users, the document scanner supports types such as document, whiteboard,
                    and business card. To try out the new feature, constantly check and
                    follow the Windows updates.
                </div>
            </div>
        </div>
        <div class="mySlides fade">
            <div class="image-container2">
                <img class="image" src="assets/code_u.png">
            </div>
            <div class="table2">
                <div class="text table-cell2">
                    <b>Google CodeU Spring 2018<br /></b>
                    <br />
                    <br />
                    <b>Google CodeU</b> is a program hosted by Google where university students from all around the
                    world gather to learn and thrive by working together as a team.
                    During this program, my team collaboratively created a web chat app that supports real-time message
                    broadcasting and utilized the Google Cloud Vision API to intelligently tell users
                    details of the image sent in the chatroom.
                    This is the first real life project that I worked on where I learned the skills about working in a
                    team
                    and grew knowledge in real life production development cycle by doing rigorous testing and
                    code reviews with my peers. To learn more information about how to join this program, feel free to
                    check out the source code hosted on <a class="inline-link"
                        href="https://github.com/chenpionaar1998/CodeU_Spring_2018">Github</a> or contact me via
                    <a class="inline-link" href="https://www.linkedin.com/in/twc10/">LinkedIn</a>.
                </div>
            </div>
        </div>
        <div class="mySlides fade">
            <div class="image-container3">
                <img class="image" src="assets/network_tracing.jpg">
            </div>
            <div class="table3">
                <div class="text table-cell3">
                    <b>Network Tracing with WireShark<br /></b>
                    <br />
                    <br />
                    <b>Network tracing</b> is a school project that I find particularly interesting, it opened the door
                    of
                    knowing what is really happening behind the scene on the largest infrastructure mankind has created.
                    During this project, I learned about all the protocols used and all the information required simply
                    to fetch a page. By getting hands on experience, the step by step workflow becomes clear and
                    easier to understand.
                </div>
            </div>
        </div>
        <div class="mySlides fade">
            <div class="image-container4">
                <img class="image" src="assets/roids.png">
            </div>
            <div class="table4">
                <div class="text table-cell4">
                    <b>Roids<br /></b>
                    <br />
                    <br />
                    <b>Roids</b> is a text-based game written with python during the first term of my computer science
                    degree. This project is extremely simple as the main purpose of it is to get familiar with the
                    concepts of loops and statements. Despite it being simple, I enjoyed the team working game creation
                    process and some of the creative solutions we came up with to resolve certain obstacles. To learn
                    more about this project, feel free to
                    check out the source code hosted on <a class="inline-link"
                        href="https://github.com/chenpionaar1998/Roids">Github</a> or contact me via
                    <a class="inline-link" href="https://www.linkedin.com/in/twc10/">LinkedIn</a>.
                </div>
            </div>
        </div>
    </div>
    <br />
    <div style="text-align:center; margin-top: 35px;">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
</body>

</html>