* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  margin-top: 60px;
  width: 100%;
  position: relative;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  overflow: hidden;
}

.image-container1 {
  width: 100%;
  max-height: 500px;
  text-align: center;
}

.image-container2 {
  width: 100%;
  max-height: 500px;
  text-align: center;
}

.image-container3 {
  width: 100%;
  max-height: 500px;
  text-align: center;
}

.image-container4 {
  width: 100%;
  max-height: 500px;
  text-align: center;
}

.image{
  max-width: 100%;
  max-height: 500px;
  width:auto;
  height:auto;
  object-fit: contain;
}

.table1 {
  display: table;
  height: auto;
  overflow: hidden;
  margin-top: 60px;
  width: 100%;
  text-align: center;
}

.table2 {
  display: table;
  height: auto;
  overflow: hidden;
  margin-top: 60px;
  width: 100%;
  text-align: center;
}

.table3 {
  display: table;
  height: auto;
  overflow: hidden;
  margin-top: 60px;
  width: 100%;
  text-align: center;
}

.table4 {
  display: table;
  height: auto;
  overflow: hidden;
  margin-top: 60px;
  width: 100%;
  text-align: center;
}

.table-cell1 {
  display: table-cell;
}

.table-cell2 {
  display: table-cell;
}

.table-cell3 {
  display: table-cell;
}

.table-cell4 {
  display: table-cell;
}

/* Caption text */
.text {
  font-family: 'Work Sans', sans-serif;
  color: black;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  padding-right: 30px;
  padding-left: 30px;
}

.inline-link:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.inline-link:visited{
  color: black;
  text-decoration: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px 30px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

