* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  margin-top: 60px;
  width: 100%;
  position: relative;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  overflow: hidden;
}

.image-container0, .image-container1, .image-container2, .image-container3, .image-container4, .image-container5{
  width: 90%;
  max-height: 500px;
  text-align: center;
  display: inline-block;
  margin-bottom: 2rem;
}

.image{
  max-width: 100%;
  max-height: 500px;
  width:auto;
  height:auto;
  object-fit: contain;
}

.table0, .table1, .table2, .table3, .table4, .table5  {
  display: inline-block;
  height: auto;
  overflow: hidden;
  width: 90%;
  text-align: center;
}

/* .table-cell0, .table-cell1, .table-cell2, .table-cell3, .table-cell4, .table-cell5 {
  display: table-cell;
} */

/* Caption text */
.text {
  font-family: 'Work Sans', sans-serif;
  color: black;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
}

.inline-link:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.inline-link:visited{
  color: black;
  text-decoration: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px 30px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

